.slack-message {
  border: 2px double rgb(255, 0, 115);
  padding: 5px;
  overflow-wrap: break-word;
  hyphens: auto;

  /* Prefix for Safari */
  -webkit-hyphens: auto;
  margin-bottom: 1em;
}

.slack-reply {
  border: 1px dashed rgb(255, 0, 115);
  margin-left: 32px;
}

.reply-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 150px;
}

.reply-container-hide, .button-reply-hide {
  display: none;
}
